.footer__link {
  color: #fff;
  text-decoration-line: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125;
  line-height: 1.375;
  margin-right: 18px;
  cursor: pointer;
}

.footer__link:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.footer__link {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 32px 16px;
  }
}