.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.05;
    text-align: center;
    max-width: 560px;
    margin: 0 0 32px 0;
    color: #fff;
    position: absolute;
    top: 245px;
    left: 312px;
    pointer-events: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
        top: 195px;
        left: 232px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        top: 115px;
        left: 104px;
        }
    }

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        font-size: 2rem;
        line-height: 1.01;
        margin-bottom: 16px;
        top: 33px;
        left: 16px;
        max-width: 288px;
        }
    }